# Sublime Text helper to automatically open project file if existent
function project_aware_subl {
    project_file=$(ls *.sublime-project 2>/dev/null | head -n 1)
    subl ${*:-${project_file:-.}}
}

# Git Flow Helpers for SuitePad
function sp-hotfix {
  git flow hotfix start `date '+%G-%m-%d_%H-%M-%S'`
}

function sp-release {
  git flow release start `date '+%G-%m-%d_%H-%M-%S'`
}